<div id="asm-text" class="text">
    {% for asm_section in asm %}
        <div id="asm_header_{{ forloop.counter }}" onmouseover="highlightAsm(this)"
             onmouseout="unhighlightAsm(this)">
            {% for header_line in asm_section.0 %}
                <pre>
                    {{ header_line }}
                    </pre>
            {% endfor %}
        </div>
        <div id="asm_content_{{ forloop.counter }}" onmouseover="highlightAsm(this)"
             onmouseout="unhighlightAsm(this)">
            {% for content_line in asm_section.1 %}
                <pre>
                    {{ content_line }}
                    </pre>
            {% endfor %}
        </div>
    {% endfor %}
</div>
